* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f6f9;
  color: #191717;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 7%;
  background-color: #14274e;
  border-bottom: 1px solid #191717;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 24px;
  font-weight: 700;
  color: #f1f6f9;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #f1f6f9;
  display: inline-block;
  font-size: 16px;
  margin: 8px;
}

.navbar .navbar-nav a:hover {
  color: #c70039;
}

.navbar .navbar-nav .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .navbar-nav .dropdown .dropdown-toggle {
  color: #f1f6f9;
  display: inline-block;
  font-size: 16px;
  margin: 9px;
}

.navbar .navbar-nav .dropdown .dropdown-toggle:hover {
  color: #c70039;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  align-items: flex-start;
  background-color: #1d4591;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 190px;
}

.navbar .navbar-nav .dropdown .dropdown-menu a {
  font-size: 14px;
  color: #f1f6f9;
  padding: 9px 16px;
  display: block;
}

.navbar .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 2px;
  border-bottom: 1px solid #f1f6f9;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #f1f6f9;
  margin: 8px;
}

.navbar .navbar-extra a:hover {
  color: red;
}

#menu {
  display: none;
}

.navbar .navbar-extra .navbar-button {
  color: #f1f6f9;
  position: relative;
  top: -4px;
  padding: 8px 16px;
  background-color: #14274e;
  border: 1px solid #f1f6f9;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .navbar-extra .navbar-button:hover {
  background-color: #f1f6f9;
  color: #191717;
}

.navbar .navbar-nav .navbar-button {
  display: none;
}

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 23%;
  background-color: white;
  width: 320px;
  height: 40px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #111;
  padding: 16px;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 32px;
  margin-right: 24px;
  color: #111;
}

.hero {
  background-color: #9ba4b4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: #f1f6f9;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container h1 {
  padding-bottom: 24px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0 10px;
}

#eyeicon-login {
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 54%;
  transform: translateY(-50%);
}

#eyeicon-daftar {
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 62%;
  transform: translateY(-50%);
}

.container button {
  background-color: #14274e;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.container button:hover {
  background-color: #1d4591;
  color: #f1f6f9;
}

.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container form {
  background-color: #f1f6f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.forgot a {
  color: #191717;
}

.forgot a:hover {
  text-decoration: none;
  color: #1d4591;
}

.container input {
  background-color: #c6cedd;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #14274e;
  height: 100%;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

/* Footer */
footer {
  background-color: #14274e;
  text-align: center;
  padding: 16px 0 48px;
}

footer p {
  color: #f1f6f9;
  font-weight: 600;
}

footer .socials {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

footer .socials a {
  color: #f1f6f9;
  display: flex;
  margin: 8px 16px 8px 16px;
  width: 30px;
}

footer .socials a:hover,
footer .links a:hover {
  color: #c70039;
}

footer .links {
  margin-bottom: 22.4px;
}

footer .links a {
  color: #f1f6f9;
  padding: 11.2px 16px;
}

footer .credit {
  font-size: 12.8px;
}

footer .credit a {
  color: #f1f6f9;
  font-weight: 700;
}

@media (max-width: 1280px) {
  html {
    font-size: 90%;
  }

  #menu {
    display: inline-block;
    justify-content: left;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: yellow;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: flex;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 80%;
    right: 80px;
  }

  .navbar .navbar-extra .navbar-button {
    display: none;
  }

  .container {
    width: 80%;
  }

  /* Footer */
  footer {
    padding: 16px 0 24px;
    /* Adjust padding for better responsiveness */
  }
}

@media (max-width: 758px) {
  html {
    font-size: 70%;
  }

  #menu {
    display: inline-block;
    justify-content: left;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: yellow;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: flex;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 80%;
    right: 80px;
  }

  .navbar .navbar-extra .navbar-button {
    display: none;
  }

  .container {
    width: 90%;
  }

  .container button {
    font-size: 10px;
    padding: 10px 30px;
  }

  .container p {
    font-size: 12px;
  }

  .container input {
    font-size: 10px;
  }

  #eyeicon-login,
  #eyeicon-daftar {
    right: 50px;
    width: 15px;
  }

  .forgot a {
    font-size: 11px;
  }

  footer {
    padding: 16px 0 24px;
  }

  footer .socials a {
    width: 20px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 70%;
  }

  #menu {
    display: inline-block;
    justify-content: left;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: yellow;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: flex;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 80%;
    right: 80px;
  }

  .navbar .navbar-extra .navbar-button {
    display: none;
  }

  .container {
    width: 95%;
    min-height: 50%;
  }

  .container button {
    font-size: 10px;
    padding: 10px 15px;
  }

  .container p {
    font-size: 10px;
  }

  .container input {
    font-size: 10px;
  }

  #eyeicon-login {
    position: absolute;
    right: 50px;
    width: 15px;
  }

  #eyeicon-daftar {
    position: absolute;
    right: 50px;
    width: 15px;
  }

  .forgot a {
    font-size: 8px;
  }

  footer .links a {
    padding: 11.2px 8px;
  }

  footer p {
    font-size: 70%;
  }

  footer a {
    font-size: 70%;
  }

  footer .credit a {
    font-size: 100%;
  }

  footer .socials {
    padding: 0;
  }

  footer .socials a {
    width: 15px;
  }
}
